<h1 style="text-align: center;">Enter the post detials</h1>
<div class="post">
<div>
        <label>Post name</label>
        <input type="text" placeholder="enter the post name">
 </div>
 <div>
    <label>post detials</label>
    <textarea name="detials" id="detials" placeholder="Enter the post detials"></textarea>
</div>
<div>
    <label>post By</label>
    <input type="text" placeholder="enter the name">
</div>
<button input="submit">Post</button>
<input type="reset" class="reset" style="margin-left: 20px;" value="reset">
</div>
